{% extends "test_manager/base_api.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}接口列表{% endblock %}

{% block page_content %}
<div class="page-header">
    <p>
        <a class="btn btn-info" href="{{ url_for('test_manager.add_api') }}">
            <span class="glyphicon glyphicon-plus"></span>新增测试接口
        </a>
    </p>
    <div class="input-group">
        <input type="text" id="search_key" class="form-control" name="search_key" value="">
        <span class="input-group-btn">
            <button class="btn btn-primary" onclick="search()">搜索接口</button>
        </span>
    </div>

    <hr />
    <table class="table table-hover">
        <caption><h4>测试接口列表</h4></caption>
        <thead>
            <tr>
                <th>接口名称</th>
                <th>接口测试文件</th>
                <th>接口测试类名</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

{% endblock %}

{% block scripts%}
{{ super() }}
<script>
    function search() {
        var key = $("#search_key").val();
        var table = $("tbody");
        $.post("{{ url_for('test_manager.api_list') }}",
                {
                    key_word: key,
                },
                function(data, status){
                    table.empty();
                    for(i=0;i<data.length;i++) {
                        var tr = $("<tr></tr>");
                        tr.append($('<td class="api_name"><a href="">'+data[i].api_name+'</a></td>'));
                        tr.append($('<td class="file_path">'+data[i].file_path+'</td>'));
                        tr.append($('<td class="class_name">'+data[i].class_name+'</td>'));
                        var td = $('<td class="operate"></td>');
                        var btn = $('<button class="btn btn-primary" onclick="delete_api('+data[i].api_id+')">删除</button>')
                        td.append(btn);
                        tr.append(td);
                        table.append(tr);
                    };
                }, "json");
    }

    function delete_api(api_id) {
        if (confirm('确定要删除接口及包含的用例/数据吗？')) {
            $.get("{{ url_for('test_manager.delete_api') }}",
                    {
                        api_id: api_id,
                    },
                    function (data, status) {
                        if (data.result == 100) {
                            alert('测试接口信息及其包含的测试用例/测试数据已删除完毕');
                            search();
                        } else {
                            alert(data.resultDesc);
                        }
                    },
                    "json"
            );
        }
    }

    $(window).load(function(){
        search();
    });
</script>
{% endblock %}