{% extends "test_manager/base_api.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}接口列表{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumb">
            <li><a href="{{ url_for('test_manager.api_list') }}">接口列表</a></li>
        </div>
    </div>
    <div class="col-xs-12">
        <p>
            <a class="btn btn-info" href="{{ url_for('test_manager.add_api') }}">
                <span class="glyphicon glyphicon-plus"></span>新增测试接口
            </a>
        </p>
        <div class="input-group">
            <input type="text" id="search_key" class="form-control" name="search_key" value="">
            <span class="input-group-btn">
                <button class="btn btn-primary" onclick="search()">搜索接口</button>
            </span>
        </div>

        <hr />
        <table class="table table-hover">
            <caption><h4>测试接口列表</h4></caption>
            <thead>
                <tr>
                    <th>接口名称</th>
                    <th>接口测试文件</th>
                    <th>接口测试类名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts%}
{{ super() }}
<script>
    function search() {
        var key = $("#search_key").val();
        var table = $("tbody");
        $.post("{{ url_for('test_manager.api_list') }}",
                {
                    key_word: key,
                },
                function(data, status){
                    if(data.result == 100){
                        table.empty();
                        for(i=0;i<data.api_list.length;i++) {
                            var tr = $("<tr></tr>");
                            var url = "{{ url_for('test_manager.api_info') }}?api_id=" + data.api_list[i].api_id
                            tr.append($('<td class="api_name"><a href="'+url+'">'+data.api_list[i].api_name+'</a></td>'));
                            tr.append($('<td class="file_path">'+data.api_list[i].file_path+'</td>'));
                            tr.append($('<td class="class_name">'+data.api_list[i].class_name+'</td>'));
                            var td = $('<td class="operate"></td>');
                            var btn = $('<button class="btn btn-primary" onclick="delete_api('+data.api_list[i].api_id+')">删除</button>')
                            var btn1 = $('<button class="btn btn-primary" onclick="modify_api('+data.api_list[i].api_id+')">修改</button>')
                            td.append(btn1);
                            td.append(btn);
                            tr.append(td);
                            table.append(tr);
                        };
                    } else{
                        alert(data.resultDesc);
                    }

                }, "json");
    }

    function modify_api(api_id) {
        location.href = "{{ url_for('test_manager.modify_api') }}?api_id=" + api_id;
    }

    function delete_api(api_id) {
        if (confirm('确定要删除接口及包含的用例/数据吗？')) {
            $.get("{{ url_for('test_manager.delete_api') }}",
                    {
                        api_id: api_id,
                    },
                    function (data, status) {
                        if (data.result == 100) {
                            alert('测试接口信息及其包含的测试用例/测试数据已删除完毕');
                            search();
                        } else {
                            alert(data.resultDesc);
                        }
                    },
                    "json"
            );
        }
    }

    $(window).load(function(){
        search();
    });
</script>
{% endblock %}