{% extends "test_manager/base_api.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}修改用例信息{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumb">
            <li><a href="{{ url_for('test_manager.api_list') }}">接口列表</a></li>
            <li><a href="{{ url_for('test_manager.api_info', api_id=test_case.api.id) }}">{{ test_case.api.api_name }}</a></li>
            <li class="active">修改用例</li>
        </div>
    </div>
    <!--表单部分-->
    <div class="col-xs-12">
        <div class="modify_test_case">
            <div class="form-group">
                <label for="test_case_id" class="control-label">测试用例ID</label>
                <input type="text" id="test_case_id" class="form-control" name="test_case_id" value="{{ test_case.id }}" disabled>
            </div>
            <div class="form-group">
                <label for="test_case_name" class="control-label">测试用例名称</label>
                <input type="text" id="test_case_name" class="form-control" name="test_case_name" value="{{ test_case.test_case_name }}">
            </div>
            <div class="form-group">
                <label for="func_name">测试方法名</label>
                <select class="form-control" name="func_name" id="func_name">
                    {% for func in func_list %}
                    {% if func == test_case.func_name %}
                    <option value="{{ func }}" selected>{{ func }}</option>
                    {% else %}
                    <option value="{{ func }}">{{ func }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="remark">备注</label>
                <textarea id="remark" class="form-control" type="text" value="{{ test_case.remark }}" name="remark">{{ test_case.remark }}</textarea>
            </div>
            <button class="btn btn-primary" onclick="modify_test_case()">修改测试用例</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
//    提交修改测试接口请求
    function modify_test_case(){
        var test_case_id = $('#test_case_id').val();
        var test_case_name = $('#test_case_name').val();
        var func_name = $('#func_name>option:selected').val();
        var remark = $('#remark').val();

        if ($.trim(test_case_name) == '' || test_case_name == null || test_case_name == undefined) {
            alert('测试用例名称不能为空');
            return
        }
        if ($.trim(func_name) == '' || func_name == null || func_name == undefined) {
            alert('测试方法名称不能为空');
            return
        }

        $.post("{{ url_for('test_manager.modify_test_case') }}",
                {
                    test_case_id: test_case_id,
                    test_case_name: test_case_name,
                    func_name: func_name,
                    remark: remark,
                },
                function(data, status){
                    if(data.result == 100) {
                        location.href = "{{ url_for('test_manager.test_case_info') }}?test_case_id={{ test_case.id }}";
                    } else {
                        alert(data.resultDesc);
                    };
                }, "json");
    }
</script>
{% endblock %}