{% extends "test_manager/base_api.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}测试数据信息{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumb">
            <li><a href="{{ url_for('test_manager.api_list') }}">接口列表</a></li>
            <li><a href="{{ url_for('test_manager.api_info', api_id=test_data.test_case.api.id) }}">{{ test_data.test_case.api.api_name }}</a></li>
            <li><a href="{{ url_for('test_manager.test_case_info', test_case_id=test_data.test_case.id) }}">{{ test_data.test_case.test_case_name }}</a></li>
            <li class="active">{{ test_data.test_data_name }}</li>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">测试数据基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td width="25%">测试数据ID</td>
                            <td>{{ test_data.id }}</td>
                        </tr>
                        <tr>
                            <td width="25%">测试数据所属掊口</td>
                            <td>{{ test_data.test_case.api.api_name }}</td>
                        </tr>
                        <tr>
                            <td width="25%">测试数据所属用例</td>
                            <td>{{ test_data.test_case.test_case_name }}</td>
                        </tr>
                        <tr>
                            <td>测试数据名称</td>
                            <td>{{ test_data.test_data_name }}</td>
                        </tr>
                        <tr>
                            <td>测试数据</td>
                            <td>{{ test_data.values }}</td>
                        </tr>
                        <tr>
                            <td>测试数据tags</td>
                            <td>{{ test_data.tags }}</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td style="word-wrap:break-word;">{{ test_data.remark }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">测试数据操作</h3>
            </div>
            <div class="panel=body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('test_manager.modify_test_data', test_data_id=test_data.id ) }}">修改用例数据</a></li>
                    <li class="list-group-item"><a onclick="delete_test_data('{{ test_data.id }}')">删除测试数据</a></li>
                    <li class="list-group-item"><a data-toggle="modal" data-target="#codeModal">接口测试文件代码</a></li>
                    <li class="list-group-item"><a target="_blank" href="{{ url_for('test_manager.execute_test_tmp', test_data_id=test_data.id) }}">以该测试数据运行用例</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--弹出选择接口测试文件 模态框-->
    <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        接口测试内容
                    </h4>
                </div>
                <div class="modal-body">
                    <pre>{{ code }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
    function delete_test_data(test_data_id) {
        if (confirm('确定要删除测试数据吗？')) {
            $.get("{{ url_for('test_manager.delete_test_data') }}",
                    {
                        test_data_id: test_data_id,
                    },
                    function (data, status) {
                        if (data.result == 100) {
                            alert('测试数据已删除完毕');
                            location.href = "{{ url_for('test_manager.test_case_info') }}?test_case_id={{ test_data.test_case.id }}";
                        } else {
                            alert(data.resultDesc);
                        }
                    },
                    "json"
            );
        }
    }
</script>
{% endblock %}