{% extends "test_manager/base_api.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}测试用例信息{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumb">
            <li><a href="{{ url_for('test_manager.api_list') }}">接口列表</a></li>
            <li><a href="{{ url_for('test_manager.api_info', api_id=test_case.api.id) }}">{{ test_case.api.api_name }}</a></li>
            <li class="active">{{ test_case.test_case_name }}</li>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">测试用例基本信息</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover" style="table-layout:fixed;">
                    <tbody>
                        <tr>
                            <td width="25%">用例ID</td>
                            <td>{{ test_case.id }}</td>
                        </tr>
                        <tr>
                            <td width="25%">用例所属掊口</td>
                            <td>{{ test_case.api.api_name }}</td>
                        </tr>
                        <tr>
                            <td>用例名称</td>
                            <td>{{ test_case.test_case_name }}</td>
                        </tr>
                        <tr>
                            <td>测试方法</td>
                            <td>{{ test_case.func_name }}</td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td style="word-wrap:break-word;">{{ test_case.remark }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">测试用例操作</h3>
            </div>
            <div class="panel=body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="{{ url_for('test_manager.add_test_data', test_case_id=test_case.id) }}">添加测试数据</a></li>
                    <li class="list-group-item"><a href="{{ url_for('test_manager.modify_test_case', test_case_id=test_case.id) }}">修改用例信息</a></li>
                    <li class="list-group-item"><a onclick="delete_test_case('{{ test_case.id }}')">删除测试用例</a></li>
                    <li class="list-group-item"><a data-toggle="modal" data-target="#codeModal">接口测试文件代码</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">用例测试数据</h3>
            </div>
            <div class="panel-body">
                <ul>
                    {% for test_data in test_case.test_datas %}
                    <li><a href="{{ url_for('test_manager.test_data_info', test_data_id=test_data.id) }}" style="color:DarkViolet">{{ test_data.test_data_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!--弹出选择接口测试文件 模态框-->
    <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        接口测试内容
                    </h4>
                </div>
                <div class="modal-body">
                    <pre>{{ code }}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts%}
{{ super() }}
<script>
    function delete_test_case(test_case_id) {
        if (confirm('确定要删除用例及包含的测试数据吗？')) {
            $.get("{{ url_for('test_manager.delete_test_case') }}",
                    {
                        test_case_id: test_case_id,
                    },
                    function (data, status) {
                        if (data.result == 100) {
                            alert('测试用例信息及其包含的测试数据已删除完毕');
                            location.href = "{{ url_for('test_manager.api_info') }}?api_id={{ test_case.api.id }}";
                        } else {
                            alert(data.resultDesc);
                        }
                    },
                    "json"
            );
        }
    }
</script>
{% endblock %}